.random-page.movie-item {
  margin: 5vh 5vw;
}

.random-page.btn-no-vote {
  display: inline-flex;
  align-items: center;
}

.random-page.details {
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 5vh;
}

.random-page.inline {
  display: inline-block;
}

.random-page.half {
  width: 50%;
}