.rater.heading {
  padding-top: 15px;
  margin-bottom: 15px;
}

.rater.wrapper {
  display: inline-flex;
  align-items: center;
}

.rater.btn-no-vote {
  display: inline-flex;
  align-items: center;
}